@import "./app.module.scss";
.container {
  padding: 10%;
  margin-block: 50px;
  @include Big {
    padding: 5%;
  }
  .wrapper {
    display: flex;
    @include Tablet {
      flex-direction: column;
      align-items: center;
    }
    .left {
      flex: 1;
      .img__container {
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .right {
      flex: 1;
      // @include Big {
      //   display: flex;
      //   flex-direction: column;
      //   align-items: center;
      // }
      .desc__container {
        .desc__title {
          font-size: 48px;
          font-weight: 700;
          line-height: 55px;
          letter-spacing: 0.800000011920929px;
          text-align: left;
          margin: 22px 0;
          @include Tablet {
            text-align: center;
          }
          @include mobile {
            font-size: 34px;
            line-height: 45px;
            br {
              display: none;
            }
          }
        }
        .desc__parag {
          font-size: 18px;
          font-weight: 400;
          line-height: 28px;
          letter-spacing: 0.27000001072883606px;
          text-align: left;
          margin-bottom: 0;
          @include Tablet {
            text-align: center;
          }
          @include mobile {
            font-size: 16px;
            br {
              display: none;
            }
          }
        }
      }
      .analyze__section {
        margin-top: 30px;
        display: flex;
        align-items: flex-start;
        // background: blue;
        @include Tablet {
          text-align: center;
          width: 100%;
          display: flex;
          justify-content: center;
        }
        .section__left {
          margin-right: 5px;

          img {
            width: 20px;
            height: 20px;
          }
        }
        .section__right {
          @include Tablet {
            text-align: center;
          }
          .right__title {
            margin: 0;
            font-size: 16px;
            font-weight: 700;
            line-height: 18px;
            letter-spacing: 0.30000001192092896px;
            text-align: left;
            color: #3b3a40;
            @include Tablet {
              text-align: center;
            }
          }
          p {
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0.20000000298023224px;
            text-align: left;
            margin-top: 10px;
            @include Tablet {
              text-align: center;
            }
            color: #64626a;
          }
        }
      }
    }
  }
}
