$big-width: 1350px;
$tablet-width: 1200px;
$medium-width: 950px;
$big-mobile-width: 768px;
$mobile-width: 480px;

@mixin Big {
  @media only screen and  (max-width: #{$big-width}) {
    @content;
  }
}
@mixin Tablet {
  @media only screen and  (max-width: #{$tablet-width}) {
    @content;
  }
}
@mixin medium {
  @media only screen and (max-width: #{$medium-width}) {
    @content;
  }
}
@mixin bigMobile {
  @media only screen and(max-width:#{$big-mobile-width}) {
    @content;
  }
}
@mixin mobile {
  @media only screen and(max-width:#{$mobile-width}) {
    @content;
  }
}
