@import "./app.module.scss";
.container {
  padding: 0 20%;
  padding-bottom: 10%;
  .wrapper {
    width: 100%;
    // background: blue;
    .title {
      margin: 50px auto;
      //   text-align: center;
      //   background: green;
      width: 60%;
      p {
        font-size: 48px;
        font-weight: 700;
        line-height: 55px;
        letter-spacing: 0.800000011920929px;
        text-align: center;
      }
    }
    .card {
      border: 1px solid #d1d0d6;
      border-radius: 12px;
      display: flex;
      padding: 2%;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
      .left {
        img {
        }
      }
      .right {
        // background-color: #d1d0d6;
        padding: 3%;
        h1 {
          font-size: 24px;
          font-weight: 700;
          line-height: 28px;
          letter-spacing: 0.44999998807907104px;
          text-align: left;
          color: #3b3a40;
        }
        p {
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          letter-spacing: 0.20000000298023224px;
          text-align: left;
          color: #64626a;
          margin: 10px 0;
        }
        span {
          font-size: 14px;
          font-weight: 700;
          line-height: 16px;
          letter-spacing: 0.14000000059604645px;
          text-align: left;
          color: #8e8c95;
        }
      }
    }
    .bottom {
      //   background: #000;
      display: flex;
      justify-content: center;
    }
  }
}
