@import "./app.module.scss";
.carousel__area {
  position: relative;
  background: #ffedb6;
  margin: auto;
  max-width: 2000px;
  .container {
    background: url("/assets/Base.png") white;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 5% 10%;
    min-height: min-content;
    .wrapper {
      border-radius: 15px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background: #50b6ff3b;
      padding: 2%;
      @include medium {
        justify-content: center;
      }
      .item {
        margin: 5px;
        border-radius: 15px;
        width: 30%;
        min-width: 222px;
        background: #fdfdfd;
        padding: 3% 3% 1%;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        @include medium {
          width: 45%;
        }
        @media screen and (max-width: 614px) {
          width: 100%;
        }

        .item__top {
          display: flex;
          align-items: center;

          img {
            margin-right: 10px;
            height: 20px;
            width: 16px;
          }
          span {
            color: #3b3a40;
            font-size: 2 4px;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: 0.44999998807907104px;
            text-align: left;
          }
        }

        p {
          align-content: flex-start;
          margin: 15px 0;
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          letter-spacing: 0.20000000298023224px;
          text-align: left;
          color: #64626a;
          min-height: 80px;
          @include mobile {
            min-height: none;
          }
          &:nth-child(3) {
            margin-bottom: 0;
          }
        }
        span {
          display: flex;
          align-items: center;
          align-content: flex-end;
        }
        // }
      }
    }
  }
}
