@import "./app.module.scss";
.container {
  padding: 10%;
  .wrapper {
    display: flex;
    flex-wrap: wrap;

    .left {
      flex: 1;
      @include Tablet {
        //   flex-direction: column;
        display: none;
      }
      img {
        // width: 100%;
        // height: 100%;
      }
    }
    .right {
      flex: 1;
      @include Big {
        display: flex;
        // justify-content: ce;
        align-items: center;
        flex-direction: column;
      }
      .top {
        margin-bottom: 20px;
        @include Big {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        h1 {
          br {
            display: none;
          }
          width: 70%;
          margin: 20px 0;
          font-size: 48px;
          font-weight: 700;
          line-height: 55px;
          letter-spacing: 0.800000011920929px;
          text-align: left;
          @include Big {
            font-size: 37px;
          }
          @include Tablet {
            text-align: center;
          }
          @include mobile {
            font-size: 30px;
            line-height: 40px;
            br {
              display: none;
            }
          }
        }
        p {
          font-size: 18px;
          font-weight: 400;
          line-height: 28px;
          letter-spacing: 0.27000001072883606px;
          text-align: left;
          @include Tablet {
            text-align: center;
            font-size: 14px;
          }
          @include mobile {
            font-size: 12px;
            line-height: 22px;
            br {
              display: none;
            }
          }
        }
      }
      .bottom {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        max-width: 80%;
        // background: #000;
        @include Tablet {
          justify-content: none;
          width: 50%;
        }
        @include mobile {
          width: 100%;
        }
        // background: blue;
        .item {
          width: 45%;
          display: flex;
          align-items: center;
          padding: 10px;
          padding-left: 0;
          @include Tablet {
            justify-content: center;
            width: 50%;
          }
          @include medium {
            width: 100%;
            // background: #000;
          }
          @include mobile {
          }
          img {
            margin-right: 5px;
            height: 1.5rem;
            width: 1.5rem;
          }
          span {
            font-size: 16px;
            font-weight: 700;
            line-height: 18px;
            letter-spacing: 0.30000001192092896px;
            text-align: left;
            @include Big {
              font-size: 14px;
            }
            @include mobile {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
