@import "./app.module.scss";
.container {
  padding: 10%;
  @include medium {
    padding: 5%;
    padding-bottom: 15%;
  }
  @media screen and (max-width: 1200px) {
    padding: 7%;
  }
  .wrapper {
    max-width: 2000px;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .left {
      flex: 1;
      width: 100%;
      height: 100%;
      @include Tablet {
        display: none;
      }
    }
    .right {
      flex: 1;
      @media screen and (max-width: 1200px) {
        margin-left: 30px;
      }
      @include Tablet {
        margin-left: none;
        display: flex;
        align-items: center;
        flex-direction: column;
      }
      .top {
        margin-bottom: 20px;
        @include Tablet {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        h1 {
          br {
            display: none;
          }
          width: 70%;
          margin: 20px 0;
          font-size: 48px;
          font-weight: 700;
          line-height: 55px;
          letter-spacing: 0.800000011920929px;
          text-align: left;

          @include Tablet {
            text-align: center;
          }
          @include medium {
            width: 100%;
            font-size: 40px;
          }
          @include mobile {
            font-size: 30px;
            line-height: 40px;
            br {
              display: none;
            }
          }
        }
        p {
          font-size: 18px;
          font-weight: 400;
          line-height: 28px;
          letter-spacing: 0.27000001072883606px;
          text-align: left;
          @include Tablet {
            text-align: center;
            font-size: 14px;
          }
          @include medium {
            width: 100%;
          }
          @include mobile {
            font-size: 12px;
            line-height: 22px;
            br {
              display: none;
            }
          }
        }
      }
      .bottom {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        max-width: 80%;

        @include Tablet {
          justify-content: none;
          width: 50%;
        }
        @include medium {
          width: 100%;
          justify-content: center;
        }
        @include mobile {
          width: 100%;
        }
        .item {
          width: 45%;
          display: flex;
          align-items: center;
          padding: 10px;
          padding-left: 0;
          min-width: 200px;

          @include medium {
            justify-content: center;
          }

          img {
            margin-right: 5px;
            height: 1.5rem;
            width: 1.5rem;
          }
          span {
            font-size: 16px;
            font-weight: 700;
            line-height: 18px;
            letter-spacing: 0.30000001192092896px;
            text-align: left;
            @include Big {
              font-size: 14px;
            }
            @include mobile {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
