.container{
    padding: 10%;
 .wrapper{
     display: flex;
     flex-wrap: wrap;
     .left{
         flex: 1;
        img{
            // object-fit: contain;
        }
     }
     .right{
        flex: 1;

        .top{
            margin-bottom: 20px;
            h1{
                margin: 20px 0;
            font-size: 48px;
            font-weight: 700;
            line-height: 55px;
            letter-spacing: 0.800000011920929px;
            text-align: left;

            }
            p{
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0.27000001072883606px;
            text-align: left;
            }
        }
        .bottom{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            // background: blue;
            max-width: 80%;
            .item{
                width: 45%;
                display: flex;
                align-items: center;
                padding: 10px;
                padding-left: 0;
                img{
                    margin-right: 5px;
                    height: 1.5rem;
                    width: 1.5rem;
                }
                span{

                font-size: 16px;
                font-weight: 700;
                line-height: 18px;
                letter-spacing: 0.30000001192092896px;
                text-align: left;

                }
            }
        }
     }

 }   
}