@import "./app.module.scss";
.container {
  background: url("/assets/contact_us.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 8%;
  max-width: 2000px;
  margin: auto;
  @include medium {
    background: #f5f6f9 !important;
  }
  .wrapper {
    width: 60%;

    @include medium {
      width: 90%;
    }
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.30000001192092896px;
        text-align: center;
        color: #64626a;
        @include mobile {
          font-size: 16px;
          line-height: 25px;
        }
      }
      h1 {
        font-size: 48px;
        font-weight: 700;
        line-height: 55px;
        letter-spacing: 0.800000011920929px;
        text-align: center;
        margin: 30px;
        @include mobile {
          font-size: 30px;
          line-height: 45px;
        }
      }
      .button {
        text-align: center;
        width: 170px;
        height: 60px;
        background: #5b45e0;
        border: none;
        border-radius: 0.5rem;
        color: white;
        cursor: pointer;
        box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.12);
        @include medium {
          width: 150px;
          height: 50px;
        }
        @include bigMobile {
          width: 130px;
          height: 40px;
        }
        @include mobile {
          width: 100px;
          height: 40px;
          font-size: 11px;
        }
      }
    }
  }
}
