@import "./app.module.scss";
.container {
  background: #ffedb6;
  padding: 10% 10% 5%;
  display: flex;
  justify-content: center;
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    // background: blue;
    width: 60%;
    height: 100%;
    p {
      width: 100%;
      font-size: 48px;
      font-weight: 700;
      line-height: 55px;
      letter-spacing: 0.800000011920929px;
      text-align: center;
      color: #6d560e;
    }
    .input__container {
      width: 75%;
      padding: 15px 10px;
      background: white;
      border-radius: 0.6rem;
      display: flex;
      align-items: center;
      margin-block-start: 50px;
      //   cursor: pointer;
      img {
        margin-right: 8px;
        cursor: pointer;
        color: #b3b1b7;
      }
      input {
        border: none;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: left;
        color: #64626a;

        &:focus {
          outline: none;
        }
      }
    }
  }
}
