@import "./app.module.scss";
.container {
  background: #ffedb6;
  padding: 12% 10% 5%;
  display: flex;
  justify-content: center;
  .wrapper {
    max-width: 2000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    p {
      width: 60%;
      font-size: 48px;
      font-weight: 700;
      line-height: 55px;
      letter-spacing: 0.800000011920929px;
      text-align: center;
      color: #6d560e;
      @include medium {
        font-size: 40px;
        line-height: 45px;
        width: 80%;
      }
      @include bigMobile {
        font-size: 32px;
        line-height: 40px;
        width: 90%;
      }
      @include mobile {
        font-size: 20px;
        line-height: 25px;
        width: 100%;
        margin-top: 30px;
      }
    }
    .input__container {
      width: 45%;
      padding: 1rem 0.6rem;
      background: white;
      border-radius: 0.6rem;
      display: flex;
      align-items: center;
      margin-block-start: 5%;
      @include medium {
        padding: 0.8rem 0.4rem;
      }
      @include bigMobile {
        padding: 0.6rem 0.2rem;
        border-radius: 0.4rem;
      }
      @include medium {
        padding: 0.4rem 0.1rem;
        border-radius: 0.3rem;
      }
      label {
        img {
          margin-right: 8px;
          cursor: pointer;
          color: #b3b1b7;
          width: 24px;
          height: 24px;
          @include medium {
            width: 22px;
            height: 22px;
            margin-right: 5px;
          }
          @include bigMobile {
            width: 19px;
            height: 19px;
            margin-right: 3px;
          }
        }
      }

      input {
        border: none;
        font-size: 18px;
        width: 100%;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: left;
        color: #64626a;
        @include medium {
          font-size: 16px;
        }
        @include bigMobile {
          font-size: 14px;
        }
        @include mobile {
          font-size: 10px;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
}
