@import "../styles/colors.scss";
@import "./app.module.scss";
.container {
  background: $main-color;
  .wrapper {
    padding: 10% 15%;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    border-radius: 48px 48px 0 0;
    @include mobile {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    .content {
      margin-top: 30px;
      width: 90%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include mobile {
        justify-content: center;
        // background: #000;
      }
      .desc__container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 70px;
        align-items: center;
        width: 100%;
        @include mobile {
          flex-direction: column;
          // background: #000;
        }
        .left__desc {
          flex: 1;
          font-size: 48px;
          font-weight: 700;
          line-height: 55px;
          letter-spacing: 0.800000011920929px;
          text-align: left;
          @include Tablet {
            font-size: 40px;
            line-height: 45px;
          }
          @include mobile {
            font-size: 20px;
            text-align: center;
            line-height: normal;
            margin-bottom: 10px;
          }
        }
        .right__desc {
          flex: 1;
          margin-left: 130px;
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          letter-spacing: 0.23999999463558197px;
          text-align: left;
          @include Tablet {
            text-align: right;
            font-size: 14px;
            line-height: 18px;
            margin-left: 50px;
          }
          @include mobile {
            font-size: 12px;
            text-align: center;
            line-height: normal;
            // margin-bottom: 10px;
            margin: 0;
          }
        }
      }
      .cards__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .card {
          width: 45%;
          @include Tablet {
            flex-direction: column;
            align-items: center;
          }

          display: flex;
          justify-content: space-between;
          align-items: center;
          background: white;
          &:first-child {
            margin-bottom: 100px;
            @include mobile {
              margin: 30px;
            }
          }
          &:nth-child(2) {
            margin-bottom: 100px;
            @include mobile {
              margin: 30px;
            }
          }
          &:nth-child(odd) {
            .image__container {
              margin-left: 0;
            }
          }
          @include mobile {
            width: 100%;
            margin: 0;
            margin-bottom: 30px;
          }
          .image__container {
            height: 92px;
            width: 92px;
            min-width: 92px;
            min-height: 92px;
            border-radius: 50%;
            display: flex;
            margin: 0 5%;
            &:nth-child(1) {
              margin-left: none;
            }
            align-items: center;
            justify-content: center;
            img {
              height: 42px;
              width: 42px;
            }
          }
          .card__right_container {
            display: flex;
            flex-direction: column;
            @include Tablet {
              align-items: center;
            }

            .card__title {
              margin: 0;
              padding: 0;
              font-size: 24px;
              font-weight: 700;
              line-height: 28px;
              letter-spacing: 0.44999998807907104px;
              text-align: left;
              @include Tablet {
                text-align: center;
                margin: 10px 0;
              }
            }
            .card__desc {
              margin: 10px 0;
              font-size: 18px;
              font-weight: 400;
              line-height: 28px;
              letter-spacing: 0.27000001072883606px;
              text-align: left;
              @include Tablet {
                text-align: center;
                margin: 0;
                // margin-bottom: 10px;
              }
            }
            .card__btn {
              display: flex;
              font-size: 14px;

              padding: 4px;
              font-weight: 700;
              line-height: 16px;

              color: #5b45e0;
              span {
                margin-right: 3px;
              }
              img {
                color: #5b45e0;
              }
            }
          }
        }
      }
    }
  }
  .bottomBorder {
    width: 100%;
    margin: 0 10%;
    max-width: 80%;
    height: 4px;
    background: #e8e7e8;
  }
}
