@import "../styles/colors.scss";
.container{
    // height: 100vh;
    background: $main-color;
    .wrapper{
      padding:10% 15%;
        background-color: #FFFFFF;
        width: 100%;
        height: 100%;
        border-radius: 48px 48px 0 0;
        
        
            .content{
              // background: #333;
              margin-top: 30px;
              // margin-inline: auto;
                width: 90%;
                height: 100%;
                display: flex;
                flex-direction: column;
              align-items: center;
                // justify-content: space-around;
            .desc__container{
                display: flex;
                margin-bottom: 70px;
                // background: #000;
                align-items: center;
                // justify-content: space-between;
                // background: blue;
                width: 100%;
                .left__desc{
                   flex: 1;
                   font-size: 48px;
                   font-weight: 700;
                   line-height: 55px;
                   letter-spacing: 0.800000011920929px;
                   text-align: left;
                }
                .right__desc{
                    flex: 1;
                    margin-left: 130px;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0.23999999463558197px;
                text-align: left;
                }
            }
           .cards__container{
             display: flex;
             flex-wrap: wrap;
             justify-content: space-between;
            //  height: 80%;
            //  padding: 0 10%;
         
            //  background: blue;
             align-items: center;
             .card{
               width: 45%;
              //  display: flex;
              display: flex;
              justify-content: space-between;
              align-items: center;
              background: white;
              &:first-child{
                margin-bottom:100px;
              }
              &:nth-child(2){
                margin-bottom:100px;
              }
              &:nth-child(odd){
                .image__container{
                  margin-left: 0;
                }
              }
               
              //  justify-content: space-between;
               .image__container{
                 
                 height: 92px;
                 width: 92px;
                 min-width: 92px;
                 min-height: 92px;
                 border-radius: 50%;
                 display: flex;
                 margin: 0 5%;
                 &:nth-child(1){
                   margin-left: none;
                 }
                 align-items: center;
                 justify-content: center;
                img{
                height: 42px;
                width: 42px;
                }
               }
               .card__right_container{
                display: flex;
                flex-direction: column;
                // background: blue;
                .card__title{
                  margin: 0;
                  padding: 0;
                  font-size: 24px;
                  font-weight: 700;
                  line-height: 28px;
                  letter-spacing: 0.44999998807907104px;
                  text-align: left;

                }
                .card__desc{
                 margin: 10px 0;
                  // background: #333;
                  font-size: 18px;
                  font-weight: 400;
                  line-height: 28px;
                  letter-spacing: 0.27000001072883606px;
                  text-align: left;

                }
                .card__btn{
                  display: flex;
                  align-items: center;
                  font-size: 14px;
                  // background: #333;
                  padding: 4px;
                  font-weight: 700;
                  line-height: 16px;
                  // letter-spacing: 0px;
                  // text-align: left;
                  color: #5B45E0;
                  span{
                    margin-right: 3px;
                  }
                  img{
                    // transform: rotate(-90deg);
                    color:  #5B45E0;
                  }
                }

               }
             }
           } 
        }
    }
    .bottomBorder{
    width: 100%;
    margin: 0 10%;
    // position: relative;
    max-width: 80%;
    // width: 100%;
    height: 4px;
    background: #e8e7e8;
    }
}