@import "../styles/colors.scss";
@import "./app.module.scss";
.container {
  background: url("/assets/pattern.png");
  background-size: 100%;
  padding: 12% 20% 0;

  .wrapper {
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;

    .content {
      display: flex;

      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      width: 100%;
      .heroSection__title {
        padding: 0;
        text-align: center;
        font-size: 60px;
        font-weight: 700;
        line-height: 69px;
        letter-spacing: 1px;
        color: #232e69;
        margin: 0;
        @include medium {
          line-height: 40px;
          font-size: 40px;
        }
        @include mobile {
          font-size: 20px;
          line-height: 30px;
          margin-top: 30px;
        }
      }
      .herosection__desc {
        margin: 30px 0 0;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.18000000715255737px;
        color: #232e69;
        @include medium {
          line-height: 20px;
          font-size: 14px;
        }
        @include mobile {
          font-size: 12px;
        }
      }
      .heroSection__btns {
        width: 100%;
        margin: 10% 0;

        display: flex;
        justify-content: center;
        @include mobile {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        button {
          cursor: pointer;
          padding: 20px 20px;
          border: none;
          max-width: 160px;
          font-size: 16px;
          font-weight: 700;
          border-radius: 8px;
          line-height: 18px;
          box-shadow: 0px -2px 0px 0px #0000001f inset;
          letter-spacing: 0.20000000298023224px;
          @include medium {
            width: 120px;
            height: 70%;
            font-size: 10px;
            line-height: 0;
          }
          @include mobile {
          }

          &.btn__left {
            color: white;
            background: #5b45e0;
          }
          &.btn__right {
            margin-left: 12px;
            color: #5b45e0;
            background-color: #ffffff;
            // letter-spacing: 3px;
            @include mobile {
              margin: 0;
              margin-top: 10px;
            }
          }
        }
      }

      .heroSection__img_container {
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
