@import "./app.module.scss";
.card__btn {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 4px;
  padding-left: 0;
  font-weight: 700;
  line-height: 16px;
  color: #5b45e0;
  &:hover {
    text-decoration: underline;
  }
  span {
    margin-right: 3px;
    cursor: pointer;
  }
  img {
    color: #5b45e0;
  }
}
