@import "./app.module.scss";
.container {
  height: 100vh;
  background-color: #d1e8ff;
  z-index: 2000;
  width: 30%;
  position: fixed;
  left: -30%;
  top: 0px;
  transition: all 0.5s ease;
  padding: 2%;
  padding-top: 0;
  @include bigMobile {
    width: 40%;
    left: -40%;
  }
  &.active {
    left: 0;
  }
  .wrapper {
    height: 100%;
    ul {
      height: 60%;
      display: flex;
      padding-top: 7%;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      @include mobile {
        align-items: center;
      }
      span {
        width: 100%;
        color: #232e69;
        text-align: right;
        font-size: 1.5rem;
        @include mobile {
          margin-right: 10px;
        }
      }
      a {
        border-left: 1px solid #232e69;
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        @include mobile {
          border: none;
        }

        li {
          width: 100%;
          font-weight: 700;
          font-size: 1rem;
          color: #232e69;
          @include mobile {
            text-align: center;
          }
        }
      }
    }
  }
  @include mobile {
    width: 100%;
    left: -100%;
  }
}
