@import "./app.module.scss";
.container {
  padding: 5% 14%;
  @include mobile {
    padding-inline: 5%;
  }
  .wrapper {
    max-width: 2000px;
    margin-inline: auto;
    width: 100%;
    .top {
      margin-bottom: 70px;

      .desc {
        font-size: 48px;
        font-weight: 700;
        line-height: 55px;
        letter-spacing: 0.800000011920929px;
        text-align: left;
        margin: 10px;
        @include Tablet {
          text-align: center;
          font-size: 40px;
        }
        @include mobile {
          font-size: 30px;
          line-height: 40px;
          br {
            display: none;
          }
        }
      }
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .card {
        width: 30%;
        padding: 10px;
        @include Tablet {
          width: 45%;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        @include medium {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        h3 {
          font-size: 18px;
          font-weight: 700;
          line-height: 21px;
          letter-spacing: 0.3375000059604645px;
          text-align: left;
          margin: 10px 0;
        }
        p {
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          letter-spacing: 0.20000000298023224px;
          text-align: left;
          margin-bottom: 20px;
          @include Tablet {
            text-align: center;
          }
          @include medium {
            br {
              display: none;
            }
          }
        }
      }
    }
  }
}
