.container{
    padding: 5% 14%;
    .wrapper{
        width: 100%;
        // background: aliceblue;
        .top{
            margin-bottom:70px;

            .desc{
            font-size: 48px;
            font-weight: 700;
            line-height: 55px;
            letter-spacing: 0.800000011920929px;
            text-align: left;
            margin: 10px ;
            }
        }
        .bottom{
            // background: azure;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
         .card{
            width: 30%;
            padding: 10px;
            // border: 1px solid black;
            
             h3{
                font-size: 18px;
                font-weight: 700;
                line-height: 21px;
                letter-spacing: 0.3375000059604645px;
                text-align: left;
                margin: 10px 0;
             }
             p{
                
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0.20000000298023224px;
                text-align: left;
                margin-bottom: 20px;
             }
         }   
        }

    }
}