@import "../styles/colors.scss";
@import "./app.module.scss";
.container {
  z-index: 999;
  padding: 3% 10%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  max-height: 80px;
  display: flex;
  align-items: center;
  background-color: transparent;
  transition: all 1s ease;
  @include Tablet {
    padding-inline: 3%;
  }
  @include medium {
    max-height: 60px;
  }

  &.scroll {
    background: #d1e8ff;
  }
  .wrapper {
    margin-inline: auto;
    max-width: 2000px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .left {
      flex: 1;
      display: flex;
      align-items: center;
      max-width: 303px;
      .imgContainer {
        width: 145px;
        height: 41px;
        @include medium {
          display: none;
        }
        img {
          cursor: pointer;
          object-fit: contain;
        }
      }
      // responsive
      .hamburger__menu {
        display: none;
        @include medium {
          // transition: all 1s ease;
          display: flex;
        }
        height: 100%;
        width: 100%;
        justify-content: flex-start;
        .menu__container {
          // background: blue;
          display: flex;
          width: 15%;
          height: 100%;
          align-items: center;
          flex-direction: column;
          justify-content: space-evenly;
        }
        // justify-content: flex-start;

        span {
          transition: all 1s ease-in-out;
          height: 4px;
          min-height: 2px;
          width: 100%;
          background: #232e69;
          transform-origin: 20%;
        }
        &.active__menu {
          .menu__container {
            span {
              &:first-child {
                transform: rotate(45deg);
              }
              &:nth-child(2) {
                opacity: 0;
              }
              &:last-child {
                transform: rotate(-45deg);
              }
            }
          }
        }
      }
    }
    .center {
      flex: 2;
      display: flex;
      @include medium {
        display: none;
      }
      align-items: center;
      .center__items {
        display: flex;
        width: 100%;
        margin: 0;
        padding: 0;
        justify-content: space-between;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.2px;
        cursor: pointer;
        .center__item {
          padding: 4px;
          transition: all 0.5s ease;
          border-radius: 5px;
          color: #3b3a40;
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 0.20000000298023224px;

          &:hover {
            background-color: rgba(102, 102, 102, 0.112);
          }
          &:nth-child(2) {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            &.active__item {
              background-color: rgba(102, 102, 102, 0.112);
            }
            span {
              margin-right: 5px;
            }
            img {
              width: 12px;
              height: 7px;
              transition: all 0.5s ease;
              &.open {
                transform: rotate(180deg);
              }
              &.closed {
                transform: rotate(0deg);
              }
            }
            transition: all 2s ease;
            .dropdown__menu {
              position: absolute;
              top: 100%;
              height: 100px;
              width: 100px;
              padding-top: 7px;
              .drowdown__menu_items {
                border-radius: 5px;
                background: rgba(247, 247, 247, 0.991);
                height: 80px;
                width: 80px;
                padding: 10px;
                width: 100%;
                height: 100%;
                display: flex;
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0.20000000298023224px;
                flex-direction: column;
                font-weight: 400;
                justify-content: space-between;
                align-items: center;
                .hr {
                  width: 100%;
                  background-color: black;
                  height: 1px;
                  opacity: 0.2;
                  margin: 3px 0;
                }

                .drowdown__menu_item {
                  padding-left: 5px;
                  text-align: left;
                  font-size: 14px;
                  width: 100%;
                  a {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
    .right {
      flex: 1;
      display: flex;
      align-items: center;
      max-width: 303px;
      // height: 100%;
      justify-content: flex-end;
      .right__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        height: 38px;
        // height: 100%;
        .right_login {
          border: none;
          cursor: pointer;
          background-color: transparent;
          padding: 4px;
          transition: all 0.5s ease;
          border-radius: 5px;
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;
          @include Tablet {
            font-size: 12px;
          }
          @include mobile {
            font-size: 50%;
          }
          letter-spacing: 0.20000000298023224px;

          &:hover {
            background-color: rgba(102, 102, 102, 0.112);
          }
        }
        .right_start {
          cursor: pointer;
          height: 100%;
          background-color: white;
          width: 125px;
          margin-left: 36px;
          border: none;
          border-radius: 4px;
          font-size: 1rem;
          font-weight: 700;
          box-shadow: 0px -2px 0px 0px #00000014 inset;
          transition: 1s ease;
          display: flex;
          align-items: center;
          justify-content: center;
          @include Tablet {
            font-size: 12px;
            height: 80%;
            width: 100px;
          }
          @include mobile {
            font-size: 50%;
            height: 70%;
            width: 60%;
          }
          &:hover {
          }
        }
      }
    }
  }
}
