.subtitle__container{
    display: flex;
    align-items: center;
    .subtitle__line{
    width: 4rem;
    height: 2px;
    margin-right: 15px;
    background: #D1D0D6;

     }
     .subtitle__title{
     font-size: 18px;
     font-weight: 700;
     line-height: 21px;
     letter-spacing: 0.4000000059604645px;
     text-align: left;
     color: #8E8C95;

     }
} 