@import "./app.module.scss";
.container {
  padding: 5% 16%;
  @include medium {
    padding: 5% 10%;
  }
  @include bigMobile {
    padding: 5% 6%;
  }
  .wrapper {
    max-width: 2000px;
    margin: auto;
    .item__container {
      @include medium {
        width: 100%;
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        border: none;
        border-radius: 5px;
        background: transparent;
        position: absolute;
        top: 50%;
        cursor: pointer;
        transition: all 0.5s ease;
        @include medium {
        }
        &.arrow__next {
          transform: translateY(-50%) rotate(180deg);
          right: -5rem;
          @include medium {
            display: none;
          }
        }
        &.arrow__prev {
          transform: translateY(-50%);
          left: -5rem;
          @include medium {
            display: none;
          }
        }
        &:hover {
          background: rgba(153, 153, 153, 0.29);
        }
      }
      .card {
        padding: 5%;
        border: 1px #d1d0d6 solid;
        border-radius: 0.6rem;

        img {
          @include medium {
            width: 100px;
          }
          @include bigMobile {
            width: 80px;
          }
          @include mobile {
            width: 60px;
          }
        }
        p {
          margin: 1.5rem 0;
          font-size: 32px;
          font-weight: 700;
          line-height: 42px;
          letter-spacing: 0.5333333611488342px;
          text-align: left;
          @include medium {
            font-size: 27px;
          }
          @include bigMobile {
            font-size: 20px;
            line-height: 33px;
          }
          @include mobile {
            font-size: 12px;
            line-height: 22px;
          }
        }
        .user__container {
          display: flex;
          align-items: center;

          .img__container {
            margin-right: 5px;
            img {
              height: 48px;
              width: 48px;
              @include bigMobile {
                height: 30px;
                width: 30px;
              }
            }
          }
          .user__info {
            padding: 3px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h4 {
              font-size: 18px;
              font-weight: 700;
              margin-bottom: 5px;
              line-height: 21px;
              letter-spacing: 0.30000001192092896px;
              text-align: left;
              @include medium {
                font-size: 16px;
                line-height: 14px;
              }
              @include bigMobile {
                font-size: 14px;
                line-height: 10px;
              }
              @include mobile {
                font-size: 10px;
                line-height: 5px;
              }
            }
            span {
              font-size: 14px;
              font-weight: 400;
              line-height: 16px;
              letter-spacing: 0.20000000298023224px;
              text-align: left;
              @include medium {
                font-size: 12px;
              }
              @include bigMobile {
                font-size: 10px;
              }
              @include mobile {
                font-size: 8px;
              }
            }
          }
        }
      }
    }
    .info__container {
      padding: 5% 5%;
      margin-top: 30px;
      .info__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        @include bigMobile {
          justify-content: center;
        }
        img {
          min-width: 60px;
          min-height: 20px;
          @include bigMobile {
            margin: 10px;
            height: 30px;
            width: 80px;
          }
          @include bigMobile {
            height: 20px;
            width: 60px;
          }
        }
      }
    }
  }
}
